<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <meta charset="UTF-8">
    <meta name="description" content="mon site">
    <meta name="keywords" content="Moi, clement, aubert ">
    <meta name="author" content="Clement Aubert">
</head>

<body>
    <main>
        <h1>404 : Page Introuvable 😕</h1>
    </main>
</body>

</html>